/*

RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*

GENERAL

*/

:root{
    --header-height:60px;
}

#main-header{
    height: var(--header-height);
}

#main-section{
    height: calc(100vh - var(--header-height));
}

.bg_light_grey{
    background-color: lightgrey;
    opacity: 0.5;
}

.fs_small{
    font-size: 12px;
}

.fa-bell{
    color: orange;
}

.bell_btn{
    border: 0;
}

.logo_nav_mobile{
    height: 3.125rem;
    width: 3.125rem;
}


.aside_bg{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    color: white;
}

.magniflying_lens{
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 12px;
    color: black;
}

.aside_list{
    list-style: none;
}

.aside_links{
    text-decoration: none;
    color: white;
}
